body {
  font: $font-size-base $font-global;
  line-height: 1.2;
  background: $color-white;
  color: $color-black;
}

.app {

  &__title {
    font-size: 30px;
  }

  &__subtitle {
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__textarea {
    border: 1px solid $color-logo;
    border-radius: $borderRadius;
    width: 100%;
    min-height: 140px;
    padding: 12px;
    font: $font-size-base $font-global;
    line-height: 1.42 ;
    transition: border-color .15s ease-in;
    resize: none;
    min-width: 100%;
  }

  &-field {
    width: 100%;
    margin-bottom: 15px;

    &__title {
      margin-bottom: 20px;
      font-size: 30px;
    }

    &__tags {
      display: flex;
      margin-top: 5px;
      color: $color-logo;

      div + div {
        margin-left: 5px;
      }
    }
  }

  &__container {
    max-width: 1400px;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    align-items: center;

    &-logo {
      font-size: 40px;
      color: $color-logo;
      cursor: pointer;
    }
  }
}


