$color-white: #fff;
$color-black: #000;
$color-logo: #a9a9a9;
$colorBtn: #a26a0a;
$borderRadius: 4px;
$font-global: Ubuntu, sans-serif;
$font-global-medium: Ubuntu-medium, sans-serif;
$font-global-bold: Ubuntu-bold, sans-serif;
$font-size-base: 14px;

